* {    
  margin-left: 0;
  margin-right: 0;
  margin-top: 0 !important;
  margin-bottom: 0;
}

.App {
  width: 100%;
  height: auto;
  align-items: center;
  text-align: center;
  flex-direction: column;
  
}

.uni_table_row {
  cursor: pointer;
}

.navbar {
  text-align: left;
  margin: 20px;
  height: 30px;
  margin-top: 20px !important;

}

.name {
  font-weight: bold;
  font-size: 1.5em;
  float: left;
}

.search_div { /* OUTER */
  width: 100%;
  height: 100%;
  background-color: #F9FAFB;
} 


.search { 
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;

} 


.bar {
  
  background-color: white;
}

.table {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  flex-direction: column;
}

.yellow {
  border-color: #C7C700;
  background-color: #C7C700;
  word-wrap: normal;
  border-collapse: collapse;
  display: inline-block;
  padding: 5px;
  color: white;
  font-weight: bold;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  
}

.red {
  border-color: #A61919;
  background-color: #A61919;
  word-wrap: normal;
  border-collapse: collapse;
  display: inline-block;
  padding: 5px;
  color: white;
  font-weight: bold;
  height: 20px;
  width: 20px;
  border-radius: 10px;
}

.green {
  border-color: #008000;
  background-color: #008000;
  word-wrap: normal;
  border-collapse: collapse;
  display: inline-block;
  padding: 5px;
  color: white;
  font-weight: bold;
  height: 20px;
  width: 20px;
  border-radius: 10px;
}

.green {
  border-color: #008000;
  background-color: #008000;
  word-wrap: normal;
  border-collapse: collapse;
  display: inline-block;
  padding: 5px;
  color: white;
  font-weight: bold;
  height: 20px;
  width: 20px;
  border-radius: 10px;
}


.grey {
  border-color: #999999;
  background-color: #999999;
  word-wrap: normal;
  border-collapse: collapse;
  display: inline-block;
  padding: 5px;
  color: white;
  font-weight: bold;
  height: 20px;
  width: 20px;
  border-radius: 10px;
}


.grid {
  background-color: #F7F7F7;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxed {
  border: 1px solid green;
}

.new_review_text {
  text-align: left;
}

.submit {
  align-items: right;
  margin-right: 0px;
}

.outer {
  justify-content: center;
  align-items: center;
}

.course {
  max-width: 1240px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
    margin-right: auto;

}

.review {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

}



.mainSection {
  min-width: '200px';
}

.reviewTopL {
  float: left;
}

.reviewTopR {
  float: right;
}

.reviewBody {
  justify-content: left;
  text-align: left;
}

.line {
  margin-top: 20px;
  margin-bottom: 20px;
}

.bottom {
  justify-content: bottom;
  align-items: bottom
}

.borderexample {
  border-width:3px;
  border-style:solid;
  border-color: red;
  background-color: red;
  word-wrap: normal;
  display: inline;
  padding: 5px;
  color: white;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  
  
  
  

 }

 .card {
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: box-shadow .3s;
 }

 .card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.button_add {
  width: 130px;
}

.popup {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
 
}

.popup-inner {
  position: relative;
  top: 50%;
  left: 50%;
  padding: 32px;
  max-width: 640px;
  background-color: #fff;
  z-index: 2;
  cursor: initial; 
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.caption {
  text-align: left;
}

.link {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.left-rate {
  display: flex;
  align-items: right;
}

.left-rate:hover {
  display: flex;
  align-items: right;
}